[Desktop Entry]
Type=Application
Name=SRB2 Kart Saturn (Software)
Comment=Classic styled kart racer
GenericName=A modded 3D open-source kart racing game
Exec=srb2kartsaturn -software
Icon=srb2kartsaturn
Terminal=false
Categories=Game;ArcadeGame
