[Desktop Entry]
Type=Application
Name=Sonic Robo Blast 2 Kart Saturn (OpenGL)
Comment=Classic styled kart racer
GenericName=A 3D open-source kart racing game
Exec=srb2kartsaturn -opengl
Icon=srb2kartsaturn
Terminal=false
Categories=Game;ArcadeGame
